#!/usr/bin/make -f
#export DH_VERBOSE=1

PKGNAME=xentascreenfetch

%:
	dh $@ 

override_dh_auto_install:
	install -m 0755 $(CURDIR)/xentascreenfetch $(CURDIR)/debian/$(PKGNAME)/usr/bin/xentascreenfetch
